#partners h1 {
    width: 100%;
    margin-left: 75px;
    font-family: var(--emphasis-font);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
}
.partners__cta button {
    margin: 0 40px;
}
.partners__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.partners__container .partners__description_subtitle {
    margin-bottom: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: #E7BC25;
}
.partners__container .partners__description_text {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: start;
    color: var(--history-text-color);
}
.partners__container > div {
    display: flex;
    flex-direction: column;
}
.partners__container > div:first-child {
    max-width: 600px;
}
.partners__img-container {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media only screen and (max-width: 1000px) {
    #partners h1 {
        margin-left: 0;
    } 
    .partners__container {
        flex-direction: column;
    }
    .partners__description {
        margin-bottom: 50px;
    }  
}
@media only screen and (max-width: 768px) {
    .partners__container .partners__description_subtitle {
        font-size: 30px;
        line-height: 35px;
    }
    .partners__container .partners__description_text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }
}
@media only screen and (max-width: 400px) {
    .partners__cta button {
        margin: 0;
    }
  }