* {
  --black-color: #01030D;
  --white-color: #fff;
  --blue-color: #4685FF;
  --grey-color: #E9E9E9;
  --indigo-color: #1E52D9;
  --beige-color: #FFD336;
  --history-inactive-color: #C4C4C4;
  --emphasis-font: 'Libre Baskerville', serif;
  --main-font: 'Roboto', sans-serif;
  --history-border: 1px solid var(--history-inactive-color);
  --history-active-border: 2px solid var(--beige-color);
  --history-text-color: #969ABC;
  --history-background-color: #02031D;
  --footer-text-color: #55517C;
  --team-occupation-color: #C9C7DD;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--white-color);
  max-width: 100vw;
  background-color: var(--black-color);
  overflow-x: hidden;
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
main {
  max-width: 1400px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue-color);
}
header {
  position: relative;
  padding: 20px 50px;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
}
header  button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.display-block {
  display: block;
}
.header__img {
  position: relative;
  text-align: center;
}
.header__img img {
  max-width: 700px;
  width: 100%;
  position: fixed;
  margin-left: -350px;
  margin-top: -100px;
  z-index: -1;
}
header .logo__container {
  color: var(--black-color);
}
header .logo span {
  max-width: 100px;
}
.logo__container {
  color: var(--white-color);
  font-family: var(--emphasis-font);
  font-size: 36px;
  line-height: 38px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  margin-right: 10px;
}
.logo__bottom-text {
  margin-top: 15px;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 19px;
  color: var(--footer-text-color);
}
header .logo__bottom-text {
  display: none;
}
section {
  padding: 80px 150px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black-color);
}
section.gallery {
  flex-direction: row;
  z-index: 1;
  justify-content: space-between;
}
section.gallery h1 {
  color: var(--beige-color);
  font-family: var(--emphasis-font);
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
}
a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}
.images__gallery .carousel  .control-dots {
  transform: translateY(100%);
}
.gallery__column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gallery__column {
  flex-basis: 50%;
}
.gallery__column:nth-child(1) {
  margin: 0;
  flex-basis: 40%;
  max-width: 500px;
}
.gallery__column:nth-child(2) {
  max-width: 410px;
}
.gallery__column video {
  width: 100%;
}
.gallery__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: var(--history-text-color);
}
section .carousel.carousel-slider {
  overflow: visible;
}
section.team {
  padding: 0 150px 0;
}
.team__items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.team .item {
  margin: 100px 50px;
  position: relative;
  max-width: 33%;
}
.team .item:nth-child(1),
.team .item:nth-child(2),
.team .item:nth-child(3) {
  margin-top: 0;
}
.team .item:nth-child(1), 
.team .item:nth-child(4n) {
  margin-left: 0;
}
.team .item:nth-child(3n) {
  margin-right: 0;
}
.team .img__overlay {
  z-index: 0;
}
.team .carousel .control-dots {
  top: 0;
  bottom: unset;
  transform: translateY(-100%);
  text-align: end;
}
.team h1 {
  margin-top: 0;
  padding-left: 80px;
  font-family: var(--emphasis-font);
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}
.team .carousel__item {
  padding: 20px 50px;
}
.team .carousel__icon {
  width: 40px;
  height: 40px;
  background-color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
}
.team .carousel__header {
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
}
.team .item__title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.team .item__text {
  color: var(--team-occupation-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.team .carousel__img {
  margin: 0;
  display: flex;
}
.team .carousel__img img {
  z-index: 1;
  position: relative;
  width: 100%;
}
.img__overlay {
  z-index: -1;
}
.vertical__divider:not(:nth-child(1)) {
  position: absolute;
  left: -50px;
  width: calc(100% - 110px);
  height: 1px;
  background-color: var(--history-inactive-color);
  transform: rotate(-90deg);
  transform-origin: top left;
}
.img__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(70, 133, 255, 0) 0%, #4685FF 100%);
}
.divider {
  width: 100%;
  display: flex;
}
.divider svg {
  width: 100%;
  fill: var(--black-color);
  transform: scale(1.005);
}
.menu__bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu__item-link {
  margin-left: 17px;
  display: inline-block;
  cursor: pointer;
}
.menu__item-link svg {
  height: 57px;
  width: 57px;
  fill: var(--black-color);
}
.menu__item-link:hover svg {
  fill: var(--indigo-color);
}
button {
  color: var(--white-color);
  background-color: var(--black-color);
  font-size: 36px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}
button.inverted {
  background-color: var(--indigo-color); 
}
button.inverted:hover {
  background-color: #90B2F2;
}
button a {
  padding: 15px 23px;
}
button:hover {
  background-color: var(--indigo-color);
}
.beige-color {
  color: var(--beige-color);
}
@media only screen and (max-width: 1400px) {
  main {
    max-width: 1200px;
  }
  .team .item {
    max-width: 25%;
  }
}
@media only screen and (max-width: 1200px) {
  main {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 1000px) {
  main {
    max-width: 800px;
  }
  .team .item {
    margin: 50px 20px;
    max-width: 33%;
  }
  .team .item:nth-child(1),
  .team .item:nth-child(2) {
    margin-top: 0;
  }
  .team .item:nth-child(3) {
    margin-top: 50px;
  }
  .team .item:nth-child(4n) {
    margin-left: 20px;
  }
  .team .item:nth-child(1), 
  .team .item:nth-child(3n) {
    margin-left: 0;
  }
  .team .item:nth-child(2n) {
    margin-right: 0;
  }
  .team .item:nth-child(3n) {
    margin-right: 20px;
  }
  .vertical__divider:not(:nth-child(1)) {
    left: -20px;
    width: calc(100% - 50px);
  }
}
@media only screen and (max-width: 800px) {
  main {
    max-width: 700px;
  }
  section {
    padding: 50px 0 80px;
    align-items: flex-start;
  }
  section .carousel.carousel-slider {
    overflow: unset;
  }
  header {
    padding: 15px 20px;
  }
  header .logo span {
    display: none;
  }
  header  button {
    transform: translate(-50%, 50%);
  }
  .header__img img {
    max-width: 600px;
    margin-left: -50%;
    margin-top: 50px;
  }
  .gallery__column {
    flex-basis: unset;
  }
  .gallery__column:nth-child(1) {
    flex-basis: unset;
  }
  .gallery__column:nth-child(2) {
    display: none;
  }
  .menu__item-link svg {
    height: 32px;
    width: 32px;
  }
  .team h1 {
    padding-left: 0;
  }
  .team .carousel__item {
    padding: 20px 30px;
  }
  .team .item__title {
    font-size: 18px;
    line-height: 22px;
  }
  .team .item__text {
    font-size: 16px;
    line-height: 20px;
  }
  .team .item:nth-child(3n) {
    margin-right: unset;
  }
  .team .item:nth-child(4n) {
    margin-left: unset;
  }
}
@media only screen and (max-width: 700px) {
  main {
    max-width: 100vw;
  }
  section, footer {
    padding-left: 10%!important;
    padding-right: 10%!important;
  }
  .header__img img {
    max-width: unset;
    margin-left: -60%;
    margin-top: -50px;
    width: 120%;
  }
  section.team div.item {
    margin: 50px 0;
    max-width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .header__img img {
    margin-top: 50px;
  }
}
@media only screen and (max-width: 400px) {
  button {
    font-size: 24px;
  }
}